::-webkit-scrollbar {
  width: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

main {
  padding-top: 95px;
  flex: 1 0 auto;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: var(--font-family);

  &.white {
    background-color: var(--white);
  }

  &.seryy {
    background-color: var(--seryy);
  }

}

img {
  max-width: 100%;
  pointer-events: none;
  object-fit: cover;
}

a {
  color: var(--black);
  @include transitionEaseInOut;
}

button {
  font-family: var(--font-family)
}

.btn-global {
  @include flex-center(10px);
  padding: 12px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  color: #292020;
  background-color: var(--yellow);
  @include transitionEaseInOut;

  &:hover {
    background-color: #ffde0a;
  }
}

.btn-global2 {
  @include flex-center(10px);
  padding: 12px;
  border-radius: 5px;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  @include transitionEaseInOut;

  &:hover {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.btn-arrow {
  @include flex-center;
  padding: 16px 14px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  @include transitionEaseInOut;

  &:hover {
    background: rgba(0, 0, 0, 0.1)
  }
}

.paginations {
  display: flex;
  align-items: center;
  gap: 10px;

  & span {
    width: 6px;
    height: 6px;
    border-radius: 100px;
    background-color: var(--white);
    @include transitionEaseInOut;

    &.active {
      width: 8px;
      height: 8px;
      background-color: var(--yellow);
    }
  }
}

.section-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 110%;
  letter-spacing: -0.5px;
  color: #0e0e0e;
}

.form-global {

  & label {

    & input {
      padding: 16px 24px;
      width: 100%;
      border-radius: 5px;
      font-weight: 400;
      font-size: 15px;
      line-height: 100%;
      color: rgba(0, 0, 0, 0.6);
      background-color: var(--seryy);

      &::placeholder {
        font-weight: 400;
        font-size: 15px;
        line-height: 100%;
        color: rgba(0, 0, 0, 0.6);
      }

      &:focus {
        outline: 1px solid rgba(0, 0, 0, 0.1);
      }
    }
  }

  & textarea {
    padding: 16px 24px;
    width: 100%;
    min-height: 100px;
    grid-column: span 2;
    resize: none;
    outline: none;
    border: none;
    border-radius: 5px;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    color: rgba(0, 0, 0, 0.6);
    background-color: var(--seryy);

    &::placeholder {
      font-weight: 400;
      font-size: 15px;
      line-height: 100%;
      color: rgba(0, 0, 0, 0.6);
    }

    &:focus {
      outline: none;
    }
  }

  & p {
    font-weight: 300;
    font-size: 12px;
    line-height: 110%;
    letter-spacing: -0.01em;
    color: rgba(0, 0, 0, 0.5);

    & a {
      text-decoration: underline;
      color: rgba(0, 0, 0, 0.5);
    }
  }

}

@media (max-width: 768px) {
  main {
    padding-top: 51px;
  }

  .section-title {
    letter-spacing: 0px;
    font-size: 24px;
  }

  .btn-global {
    font-size: 13px;
  }

  .btn-global2 {
    font-size: 13px;
  }

  .form-global {

    & label {

      & input {
        padding: 16px 15px;
        font-size: 13px;

        &::placeholder {
          font-size: 13px;
        }
      }
    }

    & textarea {
      padding: 16px 15px;
      font-size: 13px;

      &::placeholder {
        font-size: 13px;
      }
    }

    & p {
      font-size: 10px;
    }
  }
}
