/* gilroy */
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy/Gilroy-Regular.eot');
  src: local('Gilroy Regular'), local('Gilroy-Regular'),
      url('../fonts/gilroy/Gilroy-Regular.woff2') format('woff2'),
      url('../fonts/gilroy/Gilroy-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy/Gilroy-ExtraboldItalic.eot');
  src: local('Gilroy Extrabold Italic'), local('Gilroy-ExtraboldItalic'),
      url('../fonts/gilroy/Gilroy-ExtraboldItalic.woff2') format('woff2'),
      url('../fonts/gilroy/Gilroy-ExtraboldItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy/Gilroy-Bold.eot');
  src: local('Gilroy Bold'), local('Gilroy-Bold'),
      url('../fonts/gilroy/Gilroy-Bold.woff2') format('woff2'),
      url('../fonts/gilroy/Gilroy-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy/Gilroy-Black.eot');
  src: local('Gilroy Black'), local('Gilroy-Black'),
      url('../fonts/gilroy/Gilroy-Black.woff2') format('woff2'),
      url('../fonts/gilroy/Gilroy-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy/Gilroy-Light.eot');
  src: local('Gilroy Light'), local('Gilroy-Light'),
      url('../fonts/gilroy/Gilroy-Light.woff2') format('woff2'),
      url('../fonts/gilroy/Gilroy-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy/Gilroy-Semibold.eot');
  src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
      url('../fonts/gilroy/Gilroy-Semibold.woff2') format('woff2'),
      url('../fonts/gilroy/Gilroy-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy/Gilroy-Medium.eot');
  src: local('Gilroy Medium'), local('Gilroy-Medium'),
      url('../fonts/gilroy/Gilroy-Medium.woff2') format('woff2'),
      url('../fonts/gilroy/Gilroy-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy/Gilroy-MediumItalic.eot');
  src: local('Gilroy Medium Italic'), local('Gilroy-MediumItalic'),
      url('../fonts/gilroy/Gilroy-MediumItalic.woff2') format('woff2'),
      url('../fonts/gilroy/Gilroy-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy/Gilroy-BlackItalic.eot');
  src: local('Gilroy Black Italic'), local('Gilroy-BlackItalic'),
      url('../fonts/gilroy/Gilroy-BlackItalic.woff2') format('woff2'),
      url('../fonts/gilroy/Gilroy-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy/Gilroy-UltraLight.eot');
  src: local('Gilroy UltraLight'), local('Gilroy-UltraLight'),
      url('../fonts/gilroy/Gilroy-UltraLight.woff2') format('woff2'),
      url('../fonts/gilroy/Gilroy-UltraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy/Gilroy-RegularItalic.eot');
  src: local('Gilroy Regular Italic'), local('Gilroy-RegularItalic'),
      url('../fonts/gilroy/Gilroy-RegularItalic.woff2') format('woff2'),
      url('../fonts/gilroy/Gilroy-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy/Gilroy-SemiboldItalic.eot');
  src: local('Gilroy Semibold Italic'), local('Gilroy-SemiboldItalic'),
      url('../fonts/gilroy/Gilroy-SemiboldItalic.woff2') format('woff2'),
      url('../fonts/gilroy/Gilroy-SemiboldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy/Gilroy-HeavyItalic.eot');
  src: local('Gilroy Heavy Italic'), local('Gilroy-HeavyItalic'),
      url('../fonts/gilroy/Gilroy-HeavyItalic.woff2') format('woff2'),
      url('../fonts/gilroy/Gilroy-HeavyItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy/Gilroy-Extrabold.eot');
  src: local('Gilroy Extrabold'), local('Gilroy-Extrabold'),
      url('../fonts/gilroy/Gilroy-Extrabold.woff2') format('woff2'),
      url('../fonts/gilroy/Gilroy-Extrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy/Gilroy-BoldItalic.eot');
  src: local('Gilroy Bold Italic'), local('Gilroy-BoldItalic'),
      url('../fonts/gilroy/Gilroy-BoldItalic.woff2') format('woff2'),
      url('../fonts/gilroy/Gilroy-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy/Gilroy-UltraLightItalic.eot');
  src: local('Gilroy UltraLight Italic'), local('Gilroy-UltraLightItalic'),
      url('../fonts/gilroy/Gilroy-UltraLightItalic.woff2') format('woff2'),
      url('../fonts/gilroy/Gilroy-UltraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy/Gilroy-LightItalic.eot');
  src: local('Gilroy Light Italic'), local('Gilroy-LightItalic'),
      url('../fonts/gilroy/Gilroy-LightItalic.woff2') format('woff2'),
      url('../fonts/gilroy/Gilroy-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy/Gilroy-Heavy.eot');
  src: local('Gilroy Heavy'), local('Gilroy-Heavy'),
      url('../fonts/gilroy/Gilroy-Heavy.woff2') format('woff2'),
      url('../fonts/gilroy/Gilroy-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy/Gilroy-Thin.eot');
  src: local('Gilroy Thin'), local('Gilroy-Thin'),
      url('../fonts/gilroy/Gilroy-Thin.woff2') format('woff2'),
      url('../fonts/gilroy/Gilroy-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy/Gilroy-ThinItalic.eot');
  src: local('Gilroy Thin Italic'), local('Gilroy-ThinItalic'),
      url('../fonts/gilroy/Gilroy-ThinItalic.woff2') format('woff2'),
      url('../fonts/gilroy/Gilroy-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

/* mulish */

@font-face {
  font-family: 'Mulish';
  src: url('../fonts/mulish/Mulish-Black.eot');
  src: local('Mulish Black'), local('Mulish-Black'),
      url('../fonts/mulish/Mulish-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish';
  src: url('../fonts/mulish/Mulish-BlackItalic.eot');
  src: local('Mulish Black Italic'), local('Mulish-BlackItalic'),
      url('../fonts/mulish/Mulish-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Mulish';
  src: url('../fonts/mulish/Mulish-ExtraBoldItalic.eot');
  src: local('Mulish ExtraBold Italic'), local('Mulish-ExtraBoldItalic'),
      url('../fonts/mulish/Mulish-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Mulish';
  src: url('../fonts/mulish/Mulish-MediumItalic.eot');
  src: local('Mulish Medium Italic'), local('Mulish-MediumItalic'),
      url('../fonts/mulish/Mulish-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Mulish';
  src: url('../fonts/mulish/Mulish-Medium.eot');
  src: local('Mulish Medium'), local('Mulish-Medium'),
      url('../fonts/mulish/Mulish-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish';
  src: url('../fonts/mulish/Mulish-SemiBoldItalic.eot');
  src: local('Mulish SemiBold Italic'), local('Mulish-SemiBoldItalic'),
      url('../fonts/mulish/Mulish-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Mulish';
  src: url('../fonts/mulish/Mulish-BoldItalic.eot');
  src: local('Mulish Bold Italic'), local('Mulish-BoldItalic'),
      url('../fonts/mulish/Mulish-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Mulish';
  src: url('../fonts/mulish/Mulish-ExtraBold.eot');
  src: local('Mulish ExtraBold'), local('Mulish-ExtraBold'),
      url('../fonts/mulish/Mulish-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish';
  src: url('../fonts/mulish/Mulish-LightItalic.eot');
  src: local('Mulish Light Italic'), local('Mulish-LightItalic'),
      url('../fonts/mulish/Mulish-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Mulish';
  src: url('../fonts/mulish/Mulish-Light.eot');
  src: local('Mulish Light'), local('Mulish-Light'),
      url('../fonts/mulish/Mulish-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish';
  src: url('../fonts/mulish/Mulish-Bold.eot');
  src: local('Mulish Bold'), local('Mulish-Bold'),
      url('../fonts/mulish/Mulish-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish';
  src: url('../fonts/mulish/Mulish-ExtraLightItalic.eot');
  src: local('Mulish ExtraLight Italic'), local('Mulish-ExtraLightItalic'),
      url('../fonts/mulish/Mulish-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Mulish';
  src: url('../fonts/mulish/Mulish-Regular.eot');
  src: local('Mulish Regular'), local('Mulish-Regular'),
      url('../fonts/mulish/Mulish-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish';
  src: url('../fonts/mulish/Mulish-ExtraLight.eot');
  src: local('Mulish ExtraLight'), local('Mulish-ExtraLight'),
      url('../fonts/mulish/Mulish-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish';
  src: url('../fonts/mulish/Mulish-Italic.eot');
  src: local('Mulish Italic'), local('Mulish-Italic'),
      url('../fonts/mulish/Mulish-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Mulish';
  src: url('../fonts/mulish/Mulish-SemiBold.eot');
  src: local('Mulish SemiBold'), local('Mulish-SemiBold'),
      url('../fonts/mulish/Mulish-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}




:root {
	--krasnyy: #5c1b22;
	--black: #222;
	--white: #fff;
	--siniy: #0f87bb;
	--temno-siniy: #015b83;
  --dark: #000;
	--seryy: #f6f6f6;
	--green: #53b374;
  --yellow: #fed400;
}

:root {
  --font-family: "Mulish", sans-serif;
  --second-family: "Gilroy", sans-serif;
}
